.idea/
venv/
.DS_Store
*/**/.DS_Store
*/.DS_Store
.pytest_cache/
*.html
__pycache__/
*.egg-info/
/__pycache__
tests/__pycache__/
dist/
test_draft/
report/
.coverage
archive
output.json
pytest_screenshots
coverage.xml
build
data/
report*
*.css