.idea/
venv/
.DS_Store
*/**/.DS_Store
*/.DS_Store
.pytest_cache/
*.html
__pycache__/
*.egg-info/
/__pycache__
tests/__pycache__/
dist/
test_draft/
report/
.coverage
archive
output.json
pytest_screenshots
coverage.xml
build
data/
report*
*.css
Common/
Config/
autouse.py
autouse_2.py
autouse_3.py
ide-eval-resetter-2.1.14.jar
install_flash_player_osx_ppapi.dmg
pytest_c_testrunner-master.zip
pytest_c_testrunner-master/
pytest_learning.py
test/
test_module.py
util/ee.py

